@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar-width: 18rem;
  --content-width: 780px;
  --sidebar-space: var(--sidebar-width);
  --content-inline-start: 1rem;
  --content-inline-end: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (min-width: 768px) {
  :root {
    --content-inline-start: 3rem;
    --content-inline-end: 3rem;
  }
}

@media (min-width: 1440px) {
  :root {
    --content-inline-start: calc(var(--sidebar-space) + 2rem);
    --sidebar-space: clamp(var(--sidebar-width), max(0px, calc((100vw - var(--content-width)) / 2 - 2rem)), 100vw);
    --content-inline-end: calc(100vw - var(--content-width) - var(--sidebar-space) - 6rem);
  }
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.prose {
  max-width: calc(var(--content-width) - 2rem);
}

@keyframes enter {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-enter {
  animation: enter 0.2s ease-out;
}
