@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #d1d5db;
  --muted: #f9fafb;
  --muted-foreground: #6b7280;
  --accent: #007bff;
  --popover: #ffffff;
  --card: #ffffff;
  --navbar-height: 3rem;
  --sidebar-width: 12rem;
  --sidebar-space: 0px;
  --content-width: 780px;
  --content-inline-start: max(calc(var(--sidebar-space) + 2rem), 2rem);
  --content-inline-end: max(calc(100vw - var(--content-width) - var(--sidebar-space) - 2rem), 2rem);
  --shadow-color: #bbb;

  --bg-card: #ffffff;
  --border-card: #e5e7eb;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --border: #374151;
  --muted: #18181b;
  --muted-foreground: #9ca3af;
  --accent: #007bff;
  --popover: #161b22;
  --card: #161b22;
  --shadow-color: #111;

  --bg-card: #1f2937;
  --border-card: #374151;
}

@layer utilities {
  .bg-card {background-color: var(--bg-card);}
  .border-card {border-color: var(--border-card);}
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes enter {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes exit {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0;
  }
}

.animate-enter {
  animation: enter 0.2s ease-out;
}

.animate-exit {
  animation: exit 0.3s ease-out forwards;
  pointer-events: none;
}


.muted-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.muted-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.muted-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.auto-container {
  width: 100vw;
  padding: 1.25rem;
  min-height: 100vh;
}

.sidebar-open .auto-container {
  width: calc(100vw - var(--sidebar-width));
  padding-left: .5rem;
}

@media (max-width: 640px) {
  .sidebar-open .auto-container {
    width: 100vw;
    padding-left: 1.25rem;
  }
}