/** css part of side panel. color and animation decided by tailwind **/
.side-panel {
  top: var(--navbar-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  position:fixed;
  left: 0;
  z-index: 10;

  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transform: translateX(-100%);  /* 默认隐藏侧边面板 */
}
 /* 显示侧边面板 */
/* .has-side-panel .side-panel { 
  transform: translateX(0);
} */

.side-panel-toggle-btn {
  display: block;
}

.side-panel-toggle-bar {
  position: fixed;
  left: var(--sidebar-width);
  height: 100%;
  cursor: pointer;
  display: flex;
}

.side-panel-toggle-bar:hover {
  background-color: #f0f0f0;
}

.dark .side-panel-toggle-bar:hover {
  background-color: #111111;
}

/* @media (max-width: 780px) {
  .has-side-panel .side-panel-toggle-bar {
    width: calc(100vw - var(--sidebar-width));
    background-color: transparent;
    color: transparent;
  }

  .has-side-panel .side-panel-toggle-bar:hover {
    background-color: transparent;
    color: transparent;
  }
} */

.side-panel-content {
  width: var(--sidebar-width);
  height: 100%;
  box-shadow: 2px 6px 8px var(--shadow-color);
}

@media (min-width: 1440px) {
  .side-panel { /* 宽屏不隐藏侧边面板 */
    transform: translateX(0);
  }

  .side-panel-toggle-bar {
    display: none;
  }

  .side-panel-toggle-btn {
    display: none;
  }

  .side-panel-content {
    box-shadow: none;
  }
}

